
*{
    margin: 0px;
    padding: 0px;
    color: white;
}
#navbar{
    height: 60px;
    background-color: black;

}
button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
    font-size: 25px;
}
a{
    margin-right: 180px;
    text-decoration: none;
}
.contentBox{
    height: 100px;
    width:100px;
    border: 2px solid black;
    display: inline-block;
    color: black;
    font-weight: bold;
}
#content{
    height: 700px;
}
footer{
    background-color: black;
    text-align: center;
}